{% extends "base.html" %}

{% block title %}{{ _("Página inicial") }}{% endblock %}

{% block navbar %}
    {% with lang=lang %}
        {% include 'topnavbar.html' %}
    {% endwith %}
{% endblock %}

{% block content %}
    <div class="w3-container">
        <div class="w3-container w3-quarter"></div>
        <div class="w3-container w3-half" style="text-align: center">
            <form method="POST" enctype="multipart/form-data" id="send_file">
                <label for="file_uploaded">{{ _("Carregue o seu arquivo .csv") }}</label>
                <br>
                <input type="file" class="button" id="file_uploaded" name="file_uploaded"
                       style="margin:1rem 0 2rem 0">
            </form>
            <button type="submit" form="send_file" value="send"
                    style="max-width:200px; width:100%; background-color:#6667ab; color:white; padding:1.5rem; border-radius:0.5rem">
                {{ _('Enviar para o QuickStatements') }}
            </button>
            <p>
                {{_("Este aplicativo busca resolver o problema de erros gerados na importação de arquivos .csv para o <a href='https://quickstatements.toolforge.org' title='ferramenta QuickStatements'>QuickStatements</a>.")}}<br><br>
                {{_("Para utilizá-lo, estruture o seu arquivo .csv com a <a href='https://www.wikidata.org/wiki/Help:QuickStatements#CSV_file_syntax' title='sintaxe de arquivo CSV'>sintaxe para QuickStatements</a>.")}}
            </p>
        </div>
    </div>
{% endblock %}